beautifulsoup4==4.12.3
dask==2024.8.2
demoji==1.1.0
Flask==3.0.3
Flask_Cors==5.0.0
fonttools==4.51.0
gensim==4.3.3
lime==0.2.0.1
nltk==3.9.1
numpy==2.1.1
pandas==2.2.2
plotly==5.24.0
pyLDAvis==3.4.1
pyLDAvis==3.4.1
Requests==2.32.3
scikit_learn==1.5.1
spacy==3.7.6
textblob==0.18.0.post0
torch==2.4.0
wordcloud==1.9.3
